body {
  text-align: center;
  margin-top: 100px;
  background-position: center top;
}

.firstForm {
  display: none;
}

.secondForm {
  display: none;
  text-align: center;
}

.ad {
  display: none;
}

.travelAd {
  display: none;
}

button {
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

input {
  font-size: 20px;
  margin: 10px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px
}

form {
  font-size: 20px;
}

#favoriteFood {
  text-align: left;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
